@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic|Inika:400,700|Annie+Use+Your+Telescope);

body {
  padding-top: 60px;
  font-family: "Ubuntu", serif;
}

h1, h2, h3 {
  font-family: "Inika", serif;
}

p {
  font-size: 110%;
}

.nav img {
  border: 1px solid white;
  height: 22px;
  width: 22px;
}

