@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic|Inika:400,700);

body {
  padding-top: 60px;
  font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Inika", serif;
}

p {
  font-size: 110%;
}

.nav-pills {
  border-bottom: 1px solid #ccc;
}

.nav-pills > li a {
  border: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.nav-pills > .active a {
  border: 0px;
}

ul.projects {
  margin: 0;
}

li.project {
  list-style: none;
  margin: 0 0 25px 0;
  padding-left: 25px;
  border-bottom: 2px solid #ccc;
  max-width: 900px;
}

.project_app {
  width: 100%;
  height: 370px;
  border: 0px;
}

#add_app {
  width: 50%;
  margin: 0 auto;
}

.nav img {
  border: 1px solid white;
  height: 22px;
  width: 22px;
}


.gh-button.fork.white.icon:before { background-position: -12px -144px; }
.gh-button.fork.white.icon:hover:before,
.gh-button.fork.white.icon:focus:before,
.gh-button.fork.white.icon:active:before { background-position: -12px -144px; }

.fork-proj { float: right; top: -15px; position: relative;}
